<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.person.newscopy">

    <uses-sdk tools:overrideLibrary="com.easy.generaltool" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".news.NewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimationTheme" />
        <activity
            android:name=".show.ShowNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".show.ShowShortVideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.MyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".camera.CameraActivity"></activity>
    </application>

</manifest>